<app-header [totalTimeSpend]="calculateTotalTimeSpend()"></app-header>
<div class="tasks-container">
  <ng-container *ngFor="let task of tasks; let index = index">
    <app-task
      [task]="task"
      (taskAction)="taskAction($event, index)"
      (onDeleteTask)="deleteTask(index)"
    ></app-task>
  </ng-container>
</div>
<ng-container *ngIf="taskAddPopoup">
  <app-task-add-dialog
    (closeDialog)="closeDialog()"
    (onTaskAdd)="addTask($event)"
  ></app-task-add-dialog>
</ng-container>
<button class="task-add-btn" (click)="openAddTaskPopup()">+</button>
